p {
    color: orangered;
    text-align: center;
  } 
  
  h1 {
    color: green;
    text-align: center;
    background-color: #b0d4de;  
    background-image: url("photo-1579546929662-711aa81148cf.jpeg");  
    background-position: center;
    margin-left:100px;  
  } 

 