button {  
  color:rgb(66, 3, 3);  
   font-size: 30px;   
}   
.b1 {   
   background-color: red;   
}   

.b2 {   
  background-color: #1d11c7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}   

.b3 {   
  background-color: #dd244c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}   

.b4 {   
  background-color: #dd244c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  cursor: pointer;
}   




.b5 {   
  background-color: #dd244c;
  border-radius: 50%;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}  




.b7 {   
  background-color: #dd244c;
  border: 2px solid #4CAF50;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;

}  


.b8 {   
  background-color: #dd244c;
  border: 2px solid #4CAF50;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  width: 10%;
  float: left;
  border: 1px solid green;
}  

.b9:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.b10 {   
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}  


.b9:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.b10:hover {opacity: 1}
