#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  position: absolute;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu {
  position: absolute;
  width: 98.0px;
  height: 45.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_1 .valign > span {
  vertical-align: middle;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_1 {
  width: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 4px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_1-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-Menu_item_1-submenu {
  left: calc(100%);
  top: calc(0px);
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_3 .valign > span {
  vertical-align: middle;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_3 {
  width: 64.0px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 4px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_3-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-Menu_item_3-submenu {
  left: calc(100%);
  top: calc(0px);
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_3 span#rtr-s-Menu_item_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_1 span#rtr-s-Menu_item_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_2 .valign > span {
  vertical-align: middle;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_2 {
  width: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-left: 4px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_2-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-Menu_item_2-submenu {
  left: calc(100%);
  top: calc(0px);
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu_item_2 span#rtr-s-Menu_item_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu > .menuWrapper {
  width: calc(100% - 2.0px);
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Menu > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button {
  position: absolute;
  width: 68.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button {
  box-shadow: none;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999999%);
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button span#rtr-s-Button_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
